@import "variables";

.nav {
  width: 100%;
  display: flex;
  background-color: $accent_color;
  padding: 8px 40px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid orange;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.logoColor {
  color: $accent_color2;
}

.links {

}

.link {
  margin: 0 10px;
  color: white;
  font-size: 1.2rem;

  &:hover {
    color: $accent_color2;
  }
}

.active {
  color: $accent_color2;
}

.icon {
  color: white;
  margin: 0 10px;
  font-size: 1.6rem;
}

.controls {
  display: flex;
}

.search {
  margin-left: auto;
  cursor: pointer;
}

.burger {
  margin-left: 10px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1024px) {
  .links {
    display: none;
  }
  .burger {
    display: block;
  }
}

