.container {
  position: relative;
  width: 250px;
  display: flex;
  align-items: center;

}

.input {
  display: block;
  width: 100%;
  padding: 3px 25px 3px 25px;
  font-size: 14px;
  border: none;

}

.iconSearch {
  position: absolute;
  left: 5px;
  color: gray;

}

.iconTimes {
  position: absolute;
  right: 7px;
  color: gray;
  cursor: pointer;
  
}